<!-- Create a web page with blog entrys and the ability to comment underneath them -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Blog Posts</h1>
        <!-- Output the blogs - Note that this is the Django Template Engine, not Jinja (they're similar but not the same) -->
        {% for blog in blogs %}
            <h5>{{blog.title}}</h5>
            <p>{{blog.blog}}</p>

            {% for comment in blog.comment_set.all %} <!-- Says go to the blog and get all comments associated with that blog -->
                {{comment.comment}}
            {% endfor %}

            <form action="/comments/{{blog.id}}" method ="post">
                {% csrf_token %}
                <textarea name="comment/{{blog.id}}" rows="8" cols="40"></textarea>
                <input type="submit" value = "Enter Comment on This Blog">
            </form>
        {% endfor %}

        <form action="/blogs" method ="post">
            {% csrf_token %}
            <label for="">Title</label>
            <input type="text" name ="title">
            <textarea name="blog" rows="8" cols="40"></textarea>
            <input type="submit" value = "Enter Blog" >
        </form>
    </body>
</html>
